.card{
    margin: 30vh;
    height: 350px;
    width: 350px;
    border-radius: 13px;
    overflow: hidden;
}

.thumb{
    background: url(../scss/kirby.JPG)no-repeat center;
    background-size: cover;
    background-position: 0% 2200%;


}

.txt{
    opacity: 0;
    transition: 2s;
    ;}

section{
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 250px;
    transition: 1s;    
    height: 350px;



    &:hover{
        transition: 1s;
        margin-top: 0px;
        height: 100%;
   
    .txt{
        opacity: 1;;
        transition: 2s;

    }

    }

}



.info{
    position: absolute;
}